.botao-formulario {
    /* border: 1px solid; */
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-formacao {
    /* border: 1px solid red; */
    margin-bottom: 5px;

    display: grid;
    grid-template-columns: 40% 59%;
    grid-template-rows: 38% 38% 19%;
    grid-gap: 1% .3%;

    position: relative;
}

.nivel-estudo,
.status,
.form-curso,
.btn-formacao {
    padding: 5px;
    border-radius: 10px;
}

.nivel-estudo {
    grid-area: 1 / 1 / 2 / 2;
    border-bottom: 1px solid var(--vdescuro);
    border-right: 1px solid var(--vdescuro);

}

.status {
    grid-area: 2 / 1 / 3 / 2;
    /* border: 1px solid; */
    border-top: 1px solid var(--vdescuro);
    border-right: 1px solid var(--vdescuro);
    display: flex;
    flex-flow: row wrap;
}

.status input,
.status label label {
    margin: 5px;
}

.status label {
    width: 100%;
}


.form-check {
    /* border: 1px solid; */
    margin: auto 0;
}


.status p {
    margin-left: 5px;
}

.form-curso {
    grid-area: 1 / 2 / 4 / 3;

    border-top: 1px solid var(--vdescuro);
    border-left: 1px solid var(--vdescuro);
    margin-bottom: 10px;

}

.form-curso input {
    margin-bottom: 5px;
}

.btn-formacao {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.btn-formacao button {
    width: 30%;

}

.btn-cancelar {
    margin-right: 5px;
}

.alerta{
    position: absolute;
    bottom: 0vw;
    left: 0vh;
}



/* mobile */
@media (max-width: 412px) {

    .botao-formulario button {
        width: 90%;
    }

    .form-formacao {
        /* border: 1px solid red; */
        margin-bottom: 5px;
        padding: 5px;

        display: flex;
        flex-direction: column;
    }

    .status {
        margin-bottom: 10px;
    }

    .btn-formacao {
        grid-area: 3 / 1 / 4 / 2;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .btn-formacao button {
        margin-left: 5px;
        margin-right: 5px;

    }

    .btn-cancelar {
        text-align: center;
        width: 300px;
    }



}