*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--preto);
}

:root{
  --vdescuro: #012619;
  --vdopaco: #154030;
  --vdbandeira: #014029;
  --branco: #f2f2f2;
  --preto: #0d0d0d;
}

html, body{
  height: 100%;
  overflow-x: hidden;
}

